* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.up {
  background-color: #fff;
  height: 55px;
  padding: 0 10px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo {
  margin-left: 15px;
  cursor: pointer;
}

.nav {
  margin-left: 30px;
  display: flex;
  height: 100%;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font: 14px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(40, 42, 53);
  color: #FFF4A3;
  width: 100%;
  height: 100vh;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 80px 300px;
  font-weight: bolder;
  cursor: default;
}

.heading {
  font-size: 30px;
  margin-bottom: 40px;
}

.content {
  justify-content: space-between;
  align-items: start;
  display: flex;
}

.parent {
  display: flex;
  flex-direction: column;
}

.item {
  font-weight: 100;
  color: #fff;
}

.child {
  margin-bottom: 10px;
}

.child-m1 {
  margin-bottom: 10px;
}

.child::before {
  content: "Learn";
  font-size: 13px;
  color: #ddd;
  margin-right: 5px;
}

.child-v1::after {
  content: "Tutorial";
  font-size: 12px;
  color: #FFF4A3;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 15px;
}

.child-v2::after {
  content: "Reference";
  font-size: 12px;
  color: #FFF4A3;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 15px;
}

.child-v3::after {
  content: "Overview";
  font-size: 12px;
  color: #FFF4A3;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 15px;
}

.child-v4::after {
  content: "Quiz";
  font-size: 12px;
  color: #FFF4A3;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 15px;
}

.child-c1 {
  font-size: 12px;
  color: #FFF4A3;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 15px;
}

.child-c2::after {
  content: "Course";
  font-size: 12px;
  color: #FFF4A3;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 15px;
}

.child-c3::before {
  content: "Certificate";
  font-size: 12px;
  color: #FFF4A3;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 15px;
}

.child-c3::after {
  content: "Bootcamp";
  font-size: 12px;
  color: #FFF4A3;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 15px;
}

.dua p:nth-child(2) {
  font-size: 12px;
  color: #FFF4A3;
  text-decoration: underline;
  margin-left: 15px;
  font-weight: bold;
  margin-top: 2px;
}

.dua {
  justify-content: start;
  align-items: start;
  display: flex;
}

.head {
  font-size: 22px;
  font-weight: 100;
  color: #FFF4A3;
  margin: 20px 0;
}

.margin {
  margin-top: 40px;
}

.none {
  display: block;
}

.hover-dd:hover {
  background-color: #04aa6d;
  color: #fff;
}

.hover-dd-b {
  background-color: #282a35;
  color: #fff;
}

.hover-t1:hover {
  background-color: #282a35;
  color: #fff;
}

.hover-t1:hover .dropdown-content1 {
  display: block;
}

.hover-t1:hover .dropdown-content2 {
  display: block;
}

.hover-t1:hover .dropdown-content3 {
  display: block;
}

.hover-t1:hover .dropdown-content4 {
  display: block;
}

.hover-dd-b:hover {
  background-color: #282a35;
}

.down {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #282a35;
  height: 35px;
}

.click {
  background-color: #282a35;
}

.left,
.right {
  display: flex;
  font-weight: 500;
  font-size: 14px;
}

.left,
.right,
.down-hover {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.down-hover {
  padding: 0 15px;
  color: #f5f5f5;
  height: 100%;
  cursor: pointer;
}

.down-hover:hover {
  background-color: #000;
}

.Best {
  color: #fff;
  background-color: #04aa6d;
  outline: none;
  border: none;
  padding: 3px 10px;
  border-radius: 10px;
  margin-left: 15px;
  font-size: 12px;
}

.desk {
  color: #fff;
  font-weight: 100;
}

.card-parent {
  margin-top: 40px;
}

.card-child {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}

.card {
  width: 330px;
  height: 150px;
  padding: 30px 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 5px;
}

.desk-card {
  color: #fff;
  font-size: 14px;
  font-weight: 100;
  margin-top: 20px;
}

.main-content-tengah {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 200px;
}

section {
  width: 100%;
  height: 100vh;
}

.side {
  width: 230px;
  height: 100%;
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
  padding-bottom: 340px;
  margin-top: 60px;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #E7E9EB;
}

.heading-side {
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-top: 45px;
  margin-bottom: 10px;
}

.side a {
  justify-content: start;
  align-items: center;
  display: flex;
  text-decoration: none;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
  width: 100%;
  height: 100px;
}

.side a:not(.active) {
  color: #000;
}

.side a:not(.active):hover {
  background-color: #ccc;
}

.side a, .side p {
  padding-left: 15px;
}

.active {
  width: 100%;
  height: 100px;
  background: #04aa6d;
  color: #fff;
}

.main-content {
  width: 100%;
  margin-top: 200px;
  margin-left: 230px;
  padding-right: 230px;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content-intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-intro::after {
  content: "";
  width: 1px;
  height: 200vh;
  background-color: #ddd;
  opacity: .2;
  position: absolute;
  top: -200px;
  right: 230px;
}

.left {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
}

.head-content {
  font-size: 40px;
}

.margin-left {
  margin-left: 30px;
}

.btn-up {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding-left: 30px;
  padding-right: 250px;
  margin-top: 20px;
}

.btn-up button {
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  background-color: #04aa6d;
  padding: 12px 18px;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  font-weight: bolder;
}

.p-1, .p-2 {
  display: flex;
  flex-direction: column;
}

.p-1 p:nth-child(1) {
  font-size: 17px;
  word-spacing: 1px;
  margin-top: 40px;
}

.p-1 p:nth-child(2n + 0) {
  font-size: 30px;
  margin-top: 60px;
}

.p-1 ul {
  margin-top: 20px;
}

.p-1 ul li {
  font-size: 17px;
  line-height: 22px;
}

code {
  background-color: #eee;
  color: red;
  padding: 1px 3px;
}

.p-2 p:nth-child(1) {
  font-size: 20px;
  margin-top: 20px;
}

.p-2 ul {
  margin-top: 20px;
}

.p-2 ul li {
  font-size: 17px;
  line-height: 22px;
}